a {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.header {
  background-color: #20232a;
  color: #ffffff;
  z-index: 1;
  width: 100%;
}
.navMenu {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.navMenuleft,
.navMenuRight {
  height: 100%;
  display: flex;
}
.navMenuleft a,
.navMenuRight a {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 15px;
  font-size: 18px;
}
a.selected {
  border-bottom: 3px solid #61dafb;
  color: #61dafb;
}
.header a:hover {
  border-bottom: 3px solid #61dafb;
  color: #61dafb;
}

.registerForm,
.loginForm {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: center;
  margin: 0 auto;
}
.registerForm input,
.loginForm input,
.createBookArea {
  width: 280px;
}
.regErrors {
  color: red;
}
.inputErrors {
  border-bottom: 1px solid red;
}
.registerCard .inputErrors.MuiInput-underline:after,
.registerCard .inputErrors.MuiInput-underline:before,
.registerCard .inputErrors.MuiFormControl-root,
.registerCard .inputErrors.MuiInput-underline:hover:not(.Mui-disabled):before{
  border-bottom: 1px solid red;
}


.registerCard,
.loginCard {
  max-width: 320px;
  margin: 100px auto;
}
.registerCardHeader,
.loginCardHeader {
  text-align: center;
}
.libraryPage a {
  color: #000;
  font-weight: 700;
  text-decoration: underline;
}
.libraryPage li {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.libraryPage ul {
  max-width: 300px;
}
.libraryPage {
  position: relative;
}
.libraryPage .starIcon,
.deleteIcon {
  color: gray;
  cursor: pointer;
  margin-left: 10px;
}
.libraryPage span:hover {
  color: #000;
  cursor: pointer;
}
.progressBar {
  position: absolute;
  top: 100px;
  left: 70px;
  display: none;
}
.progressBar.active {
  display: block;
}
.detailPage {
  position: relative;
}
.detailPage .active {
  display: block;
}
.detailPage .hidden {
  display: none;
}
.libraryPage .addedFavorite .starIcon {
  color: #000;
}

#searchBtn {
  margin-left: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 2px solid transparent;
  padding: 4px 8px;
}
#searchBtn span {
  color: #20232a;
}
#cancelBtn,
#acceptBtn {
  border-bottom: 2px solid transparent;
  padding: 4px 8px;
}
#searchBtn:hover,
#cancelBtn:hover,
#acceptBtn:hover {
  border-bottom: 2px solid #61dafb;
}
#searchBtn:hover span,
#cancelBtn:hover span,
#acceptBtn:hover span {
  color: #61dafb;
}
.searchForm {
  display: flex;
  align-items: center;
  position: relative;
}
.searchForm input {
  width: 230px;
  padding-right: 20px;
}
#searchIcons {
  position: absolute;
  left: 230px;
  cursor: default;
}
#searchIcons {
  color: gray;
}
.addBookInput .addBookInputName,
.addBookInput .MuiInput-underline:after,
.addBookInput .MuiFormControl-root,
.addBookInput .MuiInput-underline:hover:not(.Mui-disabled):before{
  border-bottom: 1px solid red;
}

.addBookInput .MuiInput-underline:before{
  border: none;
}
.dashboard h1{
  text-align: center;
}
.dashboardTop{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
}
.dashboardTopBlock{
  margin-bottom: 40px;
  border: 1px solid #61dafb;
  border-radius: 30px;
  box-shadow: 0 1px 10px 4px  rgba(34, 60, 80, 0.4);
}
.dashboardTopBlock p{
  padding: 0 15px;
}
.dashboardTopBlock a{
  color: #000;text-decoration: underline;
  font-weight: 500;
}
.dashboardProgressBar{
  margin: 50px 0 70px 45%;
  display: none;
}
.dashboardProgressBar.active{
  display: block;
}
#uploadPicture {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.uploadLabel{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  cursor: pointer;
  border: 1px solid #000;
  background-color: #efefef;
  padding: 5px 7px;
  border-radius: 5px;
}
.uploadLabel:hover{
  border-color: #61dafb;
}
.detailImg{
 max-width: 600px;
 max-height: 600px;
 object-fit: contain;
}
.descriptionText{
  max-width: 500px;
}