a {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.header {
  background-color: #20232a;
  color: #ffffff;
  z-index: 1;
  width: 100%;
}
.navMenu {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.navMenuleft,
.navMenuRight {
  height: 100%;
  display: flex;
}
.navMenuleft a,
.navMenuRight a {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 15px;
  font-size: 18px;
}
a.selected {
  border-bottom: 3px solid #61dafb;
  color: #61dafb;
}
.header a:hover {
  border-bottom: 3px solid #61dafb;
  color: #61dafb;
}

.registerForm,
.loginForm {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: center;
  margin: 0 auto;
}
.registerForm input,
.loginForm input,
.createBookArea {
  width: 280px;
}
.regErrors {
  color: red;
}
.inputErrors {
  border-bottom: 1px solid red;
}
.registerCard .inputErrors.MuiInput-underline:after,
.registerCard .inputErrors.MuiInput-underline:before,
.registerCard .inputErrors.MuiFormControl-root,
.registerCard .inputErrors.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 1px solid red;
}

.registerCard,
.loginCard {
  max-width: 320px;
  margin: 100px auto;
}
.registerCardHeader,
.loginCardHeader {
  text-align: center;
}
.libraryPage a {
  color: #000;
  font-weight: 700;
  text-decoration: underline;
}
.libraryPage li {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.libraryPage ul {
  max-width: 300px;
}
.libraryPage {
  position: relative;
}
.libraryPage .starIcon,
.deleteIcon {
  color: gray;
  cursor: pointer;
  margin-left: 10px;
}
.libraryPage span:hover {
  color: #000;
  cursor: pointer;
}
.progressBar {
  position: absolute;
  top: 100px;
  left: 70px;
  display: none;
}
.progressBar.active {
  display: block;
}
.detailPage {
  position: relative;
}
.detailPage .active {
  display: block;
}
.detailPage .hidden {
  display: none;
}
.libraryPage .addedFavorite .starIcon {
  color: #000;
}

#searchBtn {
  margin-left: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 2px solid transparent;
  padding: 4px 8px;
}
#searchBtn span {
  color: #20232a;
}
#cancelBtn,
#acceptBtn {
  border-bottom: 2px solid transparent;
  padding: 4px 8px;
}
#searchBtn:hover,
#cancelBtn:hover,
#acceptBtn:hover {
  border-bottom: 2px solid #61dafb;
}
#searchBtn:hover span,
#cancelBtn:hover span,
#acceptBtn:hover span {
  color: #61dafb;
}
.searchForm {
  display: flex;
  align-items: center;
  position: relative;
}
.searchForm input {
  width: 230px;
  padding-right: 20px;
}
#searchIcons {
  position: absolute;
  left: 230px;
  cursor: default;
}
#searchIcons {
  color: gray;
}
.addBookInput .addBookInputName,
.addBookInput .MuiInput-underline:after,
.addBookInput .MuiFormControl-root,
.addBookInput .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 1px solid red;
}

.addBookInput .MuiInput-underline:before {
  border: none;
}
.dashboard h1 {
  text-align: center;
}
.dashboardTop {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
}
.dashboardTopBlock {
  margin-bottom: 40px;
  background-color: #fff;
  border: 1px solid #61dafb;
  border-radius: 30px;
  box-shadow: 0 1px 10px 4px rgba(34, 60, 80, 0.4);
}
.dashboardTopBlock p {
  padding: 0 15px;
}
.dashboardTopBlock a {
  color: #000;
  text-decoration: underline;
  font-weight: 500;
}
.dashboardProgressBar {
  margin: 50px 0 70px 45%;
  display: none;
}
.dashboardProgressBar.active {
  display: block;
}
#uploadPicture {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.uploadLabel {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  cursor: pointer;
  border: 1px solid #000;
  background-color: #efefef;
  padding: 5px 7px;
  border-radius: 5px;
}
.uploadLabel:hover {
  border-color: #61dafb;
}
.detailImg {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}
.detailBigImg {
  cursor: zoom-in;
}
.descriptionText {
  max-width: 500px;
}
.errorPage p {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: red;
}
.messageBox {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30%;
  text-align: center;
  transform: translateX(-50%);
  color: #000;
  line-height: 30px;
  background: #fff;
  border: 1px solid rgb(221, 219, 219);
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  width: 310px;
}

.messageTitle {
  background: red;
  padding-left: 15px;
  text-align: left;
  color: #fff;
  line-height: 20px;
  font-size: 12px;
}
.messageText {
  font-size: 17px;
  padding: 5px;
}
.bookDetModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 60, 80, 0.4);
}
.bookDetModalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  position: relative;
  border: 1px solid #61dafb;
  box-shadow: 0 1px 10px 4px rgba(34, 60, 80, 0.4);
}
.bookDetModalImg {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
  margin-left: 15px;
}
.userFavoriteLink {
  cursor: pointer;
  line-height: 20px;
  transition: all 0.3s;
}
.userFavoriteLink:hover {
  font-size: 17px;
}
.bookDetModalLink {
  margin-top: 20px;
  font-size: 14px;
  float: right;
  transition: all 0.3s;
  line-height: 16px;
}
.bookDetModalLink:hover {
  font-size: 15px;
}
.modalClose {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 22px;
  height: 22px;
  opacity: 0.3;
  transition: all 0.3s;
}
.modalClose:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.2);
}
.modalClose:before,
.modalClose:after {
  position: absolute;
  right: 10px;
  content: " ";
  height: 22px;
  width: 2px;
  background-color: #333;
}
.modalClose:before {
  transform: rotate(45deg);
}
.modalClose:after {
  transform: rotate(-45deg);
}
.blog {
  display: flex;
  justify-content: space-between;
}
.blogAside {
  min-width: 270px;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  height: calc(100vh - 60px);
}
.blogAside li {
  margin-top: 10px;
}
.blogCopyright a {
  background-color: rgba(187, 239, 253, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: rgb(26, 26, 26);
}
.blogCopyright a:hover {
  background-color: rgba(187, 239, 253, 1);
}
.blogAside a {
  color: #000;
  opacity: 0.5;
}
.blogAside a:hover {
  opacity: 1;
}
.blogContent {
  padding: 20px 40px;
  background-color: #fff;
}
.blogContentList {
  margin: 10px 20px;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
}
.blogContentListTitle {
  padding-top: 20px;
  font-size: 24px;
  color: #6d6d6d;
}
.blogTitle {
  font-size: 60px;
  line-height: 70px;
}
.blogContentSubtitle {
  font-size: 35px;
  line-height: 36px;
}
.blogContentSubtitle::before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ececec;
  padding-top: 44px;
  margin-bottom: 40px;
}
.blogContentText{
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 30px;
}
